

html, body {
	padding: 0;
	margin: 0;
	background-color: gray;
}

.main {
	background-color:
}

.clear {
	clear: both;
	display: false;
}

#header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#header ul li {
	float: left;
	margin-right: 10px;
}